:root {
    --background-color: #001925;
    --letter-color: #fff;
    /* --primary-color: rgb(0, 106, 255); */
    --primary-color: #006AFF;
    --primary-color-contrast: #1e79f8;
    /* --primary-color: #0c60d6; */
    /* --primary-color-rgb:0, 106, 255; */
    --contrast-color: rgb(0, 106, 255);
    /* --default-color: #212529; */
}

body {
    background-color: var(--background-color);
    color: var(--letter-color);
}



.contrast {
    color: var(--contrast-color);
}
